@import "tailwindcss";

* {
  font-family: "Helvetica";
}

#bottom {
  background: linear-gradient(transparent, black);
}

:root {
  --c1: rgb(7, 35, 67);
  --c2: rgb(20, 65, 117);
  --c3: rgb(29, 84, 108);
  --c4: rgb(244, 244, 244);
}
